<div class="pageHeader">
    <h2 class="title pageTitle"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
    <p class="has-text-grey">{{- T "published" -}}:&nbsp;<time datetime="{{ .PublishDate.Format "2006-01-02T15:04:05.000-0700" }}">{{ .PublishDate.Format "02.01.2006 15:04" }}</time></p>
    <p class="has-text-grey">
        {{- T "author" -}}: {{ range .Params.authors }}{{ with $.Site.GetPage (printf "authors/%s" .) }}<a class="separateWithCommas" href="{{ .Permalink }}">{{ .Title }}</a>{{ end }}{{ end }}
    </p>
    {{ if .Params.tags  }}
        <p class="has-text-grey">
            {{- T "tags" -}}: {{ range .Params.tags }}{{ with $.Site.GetPage (printf "tags/%s" .) }}<a class="separateWithCommas" href="{{ .Permalink }}">{{ .Title }}</a>{{ end }}{{ end }}
        </p>
    {{ end }}
</div>
